.comment{
    padding: 15px;
    .comment-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .comment-user{
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                display: block;
                width: 50 / 360 * 100vw;
                height: 50 / 360 * 100vw;
                border-radius: 50%;
            }
            
            .user-info{
                margin-left: 10px;
                p{
                    font-size: 14px;
                }
                span{
                    font-size: 12px;
                    color: #999;
                }
            }
        }

        .reply{
            font-size: 14px;
            color: #999;
        }
    }

    .comment-floor{
        padding: 15px;
        border: 1px solid #d7d7d7;
        margin-bottom: 15px;

        .floor-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                font-size: 15px;
            }

            i{
                flex: 1;
                font-size: 12px;
                margin-left: 10px;
                color: #999;
            }

            em{
                font-size: 12px;
            }
        }

        .comment-content{
            margin-top: 15px;
            font-size: 16px;
        }
    }
}